@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html, body{
    font-family: 'Open sans', sans-serif;
    background-color: #F1F1F1;
}
/* inputs */
input[type=text],
input[type=number],
input[type=email],
input[type=password],
.custom-select,
textarea.form-control{
    border-color:#182D4F;
    border-width:2px;
    color:#182D4F;
    font-size: 16px;
    font-weight: 700;
}
textarea{
    min-height: 100px;
}
::placeholder{
    color:#B3B5BB !important;
    font-weight: normal;
}
.header-access {
    background-color: #872930;
    color:#FFFFFF;
    padding:2px 0px;
}
.header-access a{
    color:#FFFFFF;
}
.btn.btn-minibox {
    background-color: #fff;
    border-radius: 4px;
    color: #872930;
    padding: 0 3px;
}
.header-main {
    background-color: #182d4f;
    min-height: 100px;
}
.logo_top{
    max-width: 83px;
    
}
.titulo-pagina{
    background: #FFFFFF;
    min-height: 11.25rem;
    padding-top: 2.5rem;
}
.main-title {
    font-family: "Lato";
    font-weight: bold;
    font-size: 3.375rem;
    line-height: 1.2;
    color:#182D4F;
}
.navilateral{
    border-left:2px solid  #8c97a8;
}
.navilateral li{
    list-style: none;
}
.navilateral li a{
    color:#cc3e43;
}
.breadcrumb{
    background-color:transparent;
    padding: 0;
    margin: 0;
    color:#182D4F;
}
ol.breadcrumb li,
.breadcrumb-item.active,
ol.breadcrumb li a{
    color:#182D4F;
}
