@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('line-awesome.css');
html, body{
    font-family: 'Open sans', sans-serif;
    font-weight: 300;;
    background-color: #F1F1F1;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
/* inputs */
input[type=text],
input[type=number],
input[type=email],
input[type=password],
.custom-select,
textarea.form-control{
    border-color:#182D4F;
    border-width:2px;
    color:#182D4F;
    font-size: 16px;
    font-weight: 700;
}
textarea{
    min-height: 100px;
}
::placeholder{
    color:#B3B5BB !important;
    font-weight: normal;
}
.header-access {
    background-color: #872930;
    color:#FFFFFF;
    padding:2px 0px;
}
.header-access a{
    color:#FFFFFF;
}
.btn.btn-minibox {
    background-color: #fff;
    border-radius: 4px;
    color: #872930;
    padding: 0 3px;
}
.header-main {
    background-color: #182d4f;
    min-height: 100px;
}
.logo_top{
    max-width: 83px;
    
}
.titulo-pagina{
    background: #FFFFFF;
    min-height: 11.25rem;
    padding-top: 2.5rem;
}
.main-title {
    font-family: "Lato";
    font-weight: bold;
    font-size: 3.375rem;
    line-height: 1.2;
    color:#182D4F;
}
.navilateral{
    border-left:2px solid  #8c97a8;
}
.navilateral li{
    list-style: none;
}
.navilateral li a{
    color:#cc3e43;
}
.breadcrumb{
    background-color:transparent;
    padding: 0;
    margin: 0;
    color:#182D4F;
}
ol.breadcrumb li,
.breadcrumb-item.active,
ol.breadcrumb li a{
    color:#182D4F;
}

#fileupload {
    display: none;
  }
  .mb-3.file-class {
    display: flex;
    padding: 20px 20px 13px;
    border: 3px dashed #192d4e;
    border-radius: 4px;
}
  .file-class span[role=button] {
    display: table-cell;
    font-family: Arial;
    font-size: 1rem;
    padding: 8px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #265986;  
    color: #ffffff;
    cursor: pointer;
    background-color: #265986;
    outline: none;
    width: 150px;
  }
  .file-class span[role=button]:hover,
  .file-class span[role=button]:focus {
    box-shadow: 0 0 5px #595959;
    background-color: #183a57;
    border-color: #265986;
    outline: 2px solid transparent;
  }
  .file-class .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .file-class input[type=text] {
    display: table-cell;
    margin-left: -5px;
    width: calc(100% - 100px);
    height: fit-content;
    font-family: Arial;
    font-size: 1rem;
    padding: 8px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #265986;  
    color: #000000;
    background-color: #ffffff;
  }
  .file-class input[type=text]:focus {
    box-shadow: 0 0 5px #595959;
    border-color: #265986;
    outline: 2px solid transparent;
  }
  

  footer {
    background-color: #0f1d34;
    font-size: 1em;
    font-weight: 400;
    line-height: 18px;
    font-stretch: normal;
    line-height: 2.43;
    letter-spacing: .2px;
    color: white;
    clear: both;
    padding: 2em 1em;
    background-image: url(../img/footer-decoration.png);
    background-repeat: no-repeat;
    background-size: 102% 1rem;
    background-position: center 97%;
}

footer .col-md-3:not(:nth-last-child(4)) .footer-links:before {
    right: 1em !important;
}
footer .col-md-3:not(:nth-last-child(4)) .footer-links:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    right: 2.250em;
    top: 0;
    bottom: 0;
    border: 1px solid;
    border-width: 0 0 0 1px;
    border-color: #567088;
}
footer ul, footer ol{
    padding-left: 0;
}
footer .footer-links .footer-item {
    list-style-type: none;
}
footer .footer-links .footer-item .footer-link.iconoExterno {
    position: relative;
}
footer .footer-links .footer-item .footer-link {
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: 400;
}
footer .footer-rrss ul {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer .footer-rrss .social-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
}
footer .footer-rrss .social-item .social-link {
    display: block;
    text-align: center;
    height: 2.3rem;
    width: 2.3rem;
}
footer .footer-rrss .social-item .social-link img {
    max-width: 3em;
}
footer .footer-links .footer-item .footer-link.iconoExterno i{
    font-size: 21px;
}

/* footer .footer-links .footer-item .footer-link.iconoExterno:after {
    font-family: "Line Awesome Free";
    content: "\f35d";
    font-weight: normal;
    font-size: 1.375rem;
    color: white;
    display: inline-block;
    margin-left: 5px;
    top: 2px;
    position: relative;
} */
#return-to-top {
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    right: 0;
    top: 0;
}
#return-to-top .scrolTop-icon {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: 2.5em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/* contraste */
/* inputs */
body.contraste input[type=text],
body.contraste input[type=number],
body.contraste input[type=email],
body.contraste input[type=password],
body.contraste .custom-select,
body.contraste textarea.form-control{
    background-color: yellow;
    border-color:yellow;
    border-width:2px;
    color:black;
    font-size: 16px;
    font-weight: 700;   
}
body.contraste .form-control:focus,
body.contraste .custom-select:focus,
body.contraste .custom-control-input:focus{
    outline-style: dashed;
    outline-color: yellow;
    outline-width: 2px;
    outline-offset: 3px;
}
body.contraste a{
    text-decoration: underline;
}
body.contraste textarea{
    min-height: 100px;
}
body.contraste .btn-primary{
    background-color: yellow;
    color:black;
}
body.contraste button[type=reset]{
    color:yellow;
}
body.contraste ::placeholder{
    color:black !important;
    font-weight: normal;
}
body.contraste .header-access {
    background-color: black;
    padding:2px 0px;
}

body.contraste .btn.btn-minibox {
    background-color: black;
    border-radius: 4px;
    padding: 0 3px;
}
body.contraste .header-main {
    background-color: black;
    min-height: 100px;
}

body.contraste .titulo-pagina{
    background: black;
    min-height: 11.25rem;
    padding-top: 2.5rem;
}
body.contraste .main-title {
    font-family: "Lato";
    font-weight: bold;
    font-size: 3.375rem;
    line-height: 1.2;
    color:yellow;
}
body.contraste .navilateral{
    border-left:2px solid  #cccccc;
}
body.contraste .navilateral li{
    list-style: none;
}
body.contraste .navilateral li a{
    color:yellow;
}
body.contraste .breadcrumb{
    background-color:transparent;
    padding: 0;
    margin: 0;
    color:#182D4F;
}
body.contraste *, body.contraste , body.contraste *::before, body.contraste *::after, body.contraste a {
    background-color:#000000;
    color:yellow;
}
body.contraste *:focus{
    outline-style: dashed;
    outline-color: yellow;
    outline-width: 2px;
    outline-offset: 3px;
}

body.contraste .file-class span[role=button]{
    background-color:#000000;
    color:yellow;
    border-color: yellow;
}

@media (max-width:426px){
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}